<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cow Collection App</title>
</head>

<body>
    <h1>Welcome to the Cow app!</h1>
    <p>Collect all the cows and give them a home.</p>
    <a href='/cows'>Browse Cows</a>
</body>

</html>